.btn {
    padding: 9px 12px 7px;
    border-width: 0 1px 4px 1px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}
.btn:hover {
    margin-top: 1px;
    border-bottom-width: 3px;
}
.btn:active {
    margin-top: 2px;
    border-bottom-width: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn-lg,
.btn-group-lg > .btn {
    padding: 15px 16px 13px;
    line-height: 15px;
}
.btn-sm,
.btn-group-sm > .btn {
    padding: 6px 10px 4px;
}
.btn-xs,
.btn-group-xs > .btn {
    padding: 3px 5px 1px;
}
.btn-default:hover,
.btn-default:focus,
.btn-group.open .dropdown-toggle.btn-default {
    background-color: #eeeeee;
    border-color: #e2e2e2;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-group.open .dropdown-toggle.btn-primary {
    background-color: #158cba;
    border-color: #127ba3;
}
.btn-success:hover,
.btn-success:focus,
.btn-group.open .dropdown-toggle.btn-success {
    background-color: #28b62c;
    border-color: #23a127;
}
.btn-info:hover,
.btn-info:focus,
.btn-group.open .dropdown-toggle.btn-info {
    background-color: #75caeb;
    border-color: #5fc1e8;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-group.open .dropdown-toggle.btn-warning {
    background-color: #ff851b;
    border-color: #ff7701;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-group.open .dropdown-toggle.btn-danger {
    background-color: #ff4136;
    border-color: #ff291c;
}
.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-primary {
    color: #ffffff;
    background-color: #158cba;
    border-color: #127ba3;
}
.btn-primary:focus,
.btn-primary.focus {
    color: #ffffff;
    background-color: #106a8c;
    border-color: #052531;
}
.btn-primary:hover {
    color: #ffffff;
    background-color: #106a8c;
    border-color: #0c516c;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #106a8c;
    border-color: #0c516c;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
    color: #ffffff;
    background-color: #0c516c;
    border-color: #052531;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #158cba;
    border-color: #127ba3;
}
.btn-primary .badge {
    color: #158cba;
    background-color: #ffffff;
}
.btn-success {
    color: #ffffff;
    background-color: #28b62c;
    border-color: #23a127;
}
.btn-success:focus,
.btn-success.focus {
    color: #ffffff;
    background-color: #1f8c22;
    border-color: #0c390e;
}
.btn-success:hover {
    color: #ffffff;
    background-color: #1f8c22;
    border-color: #186f1b;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
    color: #ffffff;
    background-color: #1f8c22;
    border-color: #186f1b;
}
.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
    color: #ffffff;
    background-color: #186f1b;
    border-color: #0c390e;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
    background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
    background-color: #28b62c;
    border-color: #23a127;
}
.btn-success .badge {
    color: #28b62c;
    background-color: #ffffff;
}
.btn-info {
    color: #ffffff;
    background-color: #75caeb;
    border-color: #5fc1e8;
}
.btn-info:focus,
.btn-info.focus {
    color: #ffffff;
    background-color: #48b9e5;
    border-color: #1984ae;
}
.btn-info:hover {
    color: #ffffff;
    background-color: #48b9e5;
    border-color: #29ade0;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
    color: #ffffff;
    background-color: #48b9e5;
    border-color: #29ade0;
}
.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus {
    color: #ffffff;
    background-color: #29ade0;
    border-color: #1984ae;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
    background-image: none;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
    background-color: #75caeb;
    border-color: #5fc1e8;
}
.btn-info .badge {
    color: #75caeb;
    background-color: #ffffff;
}
.btn-warning {
    color: #ffffff;
    background-color: #ff851b;
    border-color: #ff7701;
}
.btn-warning:focus,
.btn-warning.focus {
    color: #ffffff;
    background-color: #e76b00;
    border-color: #813c00;
}
.btn-warning:hover {
    color: #ffffff;
    background-color: #e76b00;
    border-color: #c35b00;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
    color: #ffffff;
    background-color: #e76b00;
    border-color: #c35b00;
}
.btn-warning:active:hover,
.btn-warning.active:hover,
.open > .dropdown-toggle.btn-warning:hover,
.btn-warning:active:focus,
.btn-warning.active:focus,
.open > .dropdown-toggle.btn-warning:focus,
.btn-warning:active.focus,
.btn-warning.active.focus,
.open > .dropdown-toggle.btn-warning.focus {
    color: #ffffff;
    background-color: #c35b00;
    border-color: #813c00;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
    background-image: none;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
    background-color: #ff851b;
    border-color: #ff7701;
}
.btn-warning .badge {
    color: #ff851b;
    background-color: #ffffff;
}
.btn-danger {
    color: #ffffff;
    background-color: #ff4136;
    border-color: #ff291c;
}
.btn-danger:focus,
.btn-danger.focus {
    color: #ffffff;
    background-color: #ff1103;
    border-color: #9c0900;
}
.btn-danger:hover {
    color: #ffffff;
    background-color: #ff1103;
    border-color: #de0c00;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
    color: #ffffff;
    background-color: #ff1103;
    border-color: #de0c00;
}
.btn-danger:active:hover,
.btn-danger.active:hover,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus {
    color: #ffffff;
    background-color: #de0c00;
    border-color: #9c0900;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
    background-image: none;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
    background-color: #ff4136;
    border-color: #ff291c;
}
.btn-danger .badge {
    color: #ff4136;
    background-color: #ffffff;
}
.btn-link {
    color: #158cba;
    font-weight: normal;
    border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
    border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
    color: #158cba;
    text-decoration: underline;
    background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
    color: #999999;
    text-decoration: none;
}