{% include header.html %}
{% include nav.html %}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">{{ page.title }}</h1>
        <p>
            {{ page.description }}
        </p>
        <p>
            {% if page.view_link %}
            <a class="btn btn-primary" href="{{ page.view_link }}">View</a>
            {% endif %}

            {% if page.view_github %}
            <a class="btn btn-primary" href="{{ page.github_link }}">Github</a>
            {% endif %}
        </p>
        <p>
            {% for tag in page.language_tags %}
            <span class="label label-primary">{{ tag }}</span>
            {% endfor %}
            {% for tag in page.framework_tags %}
            <span class="label label-danger">{{ tag }}</span>
            {% endfor %}
            {% for tag in page.tool_tags %}
            <span class="label label-warning">{{ tag }}</span>
            {% endfor %}
        </p>
    </div>
</section>
<section class="post-content">
    <div class="post-content__container">
        <div class="post-content__container__hero" style="background-image:url('{{ page.image }}');">
        </div>
        <div class="post-content__content">
            {{ content }}

            <div class="post-content__footer">
                {% if page.previous %}
                    <a class="btn btn-link pull-right" href="{{page.previous.url}}">Older <i class="fa fa-long-arrow-right"></i></a>
                {% endif %}
                {% if page.next %}
                    <a class="btn btn-link" href="{{page.next.url}}"><i class="fa fa-long-arrow-left"></i> Newer</a>
                {% endif %}
            </div>
        </div>

    </div>
</section>

{% include footer.html %}